body {
    font: Roboto;
    min-height: 100vh;
    margin: 0;
    display:flex;
    flex-direction: column;
    background: #1F2937;
}

/*HEADER*/

.header {
 height: 72px;
 background: #1F2937;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 160px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/*CONTENT*/

.content {
 display: flex;
 flex-direction: column;
}

/*HERO*/

.hero {
    display: flex;
    gap: 32px;
    padding: 80px 160px;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    padding: 4px 28px;
    border-radius: 8px;
    border: none;
}

/*HERO-INFO*/

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.hero-set {
    display:flex;
}

.hero-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
 height: 72px;
 background: #1F2937;
 font-size: 18px;
 color: #E5E7EB;
 display: flex;
 justify-content: center;
 align-items: center;
}